.statistics_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

p {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.1;  
    border: 1px solid transparent;
    border-radius: 6px;
    width: 170px;  
    background-color: lightgrey;
    display: flex;
    justify-content: center;


}

.good {
    background-color: #5bfb1c;
}

.neutral{
    background-color: #eeff00;
}

.bad {
    background-color: #ff0000;
}